name: Run Preprocessing Automatically

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - 'spotifychurn_raw/**'
      - 'preprocessing/automate_Rosita-Angel-Cahyadi.py'

jobs:
  preprocess:
    runs-on: ubuntu-latest

    steps:
    # Checkout repository
    - name: Checkout repository
      uses: actions/checkout@v4

    # Setup Python environment
    - name: Setup Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.12'

    # Install dependencies
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pandas numpy matplotlib seaborn scikit-learn scipy

    # Jalankan preprocessing otomatis
    - name: Run preprocessing script
      run: |
        python preprocessing/automate_Rosita-Angel-Cahyadi.py

    # Upload hasil preprocessing ke artifact
    - name: Upload processed dataset
      uses: actions/upload-artifact@v4
      with:
        name: spotifychurn_preprocessing
        path: preprocessing/spotifychurn_preprocessing.csv
